<header class="container-fluid">

  <div class="row container-fluid">
    <div class="col dropdown open">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="botonAlmacenes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Almacenes
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item text-warning" routerLink="almacenes">Buscar Almacen</a>
        <a class="dropdown-item text text-warning" routerLink="almacenes/formulario-almacen">Crear Almacen</a>
      </div>
    </div>
    <div class="col container-fluid">
    <a routerLink="" id = "enlaceHome">
      <h1>ELECTROMARKET</h1>
    </a>
    </div>
    <div class="col">
      <button class="btn btn-secondary" type="button" aria-haspopup="true" aria-expanded="false" id="botonBuscar">
        Buscar Producto
      </button>
    </div>
  </div>

</header>
