<section *ngIf="lavadora.marca != null; else noExiste">

<div class="row mb-2">
  <hr class='w-100'>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    Lavadora---{{lavadora.marca}}, {{lavadora.modelo}}, {{lavadora.calificacionEnergetica}}, {{lavadora.capacidadCarga}} Kg,
    {{lavadora.precio}} €</div>
  <div class="col-sm-4">
    <a class="" data-bs-toggle="modal" data-bs-target="#modalLavadora" (click)="lavadoraSeleccionada.emit(lavadora)">
      &nbsp;<fa-icon [icon]="eye" ></fa-icon>&nbsp;
    </a>
    <a role="button" (click)="borrarLavadora(this.lavadora.urlProducto)" routerLink="/productos/lavadoras">
      &nbsp;&nbsp;
      <fa-icon [icon]="trash"></fa-icon>
      &nbsp;
    </a>
    <a class="" data-bs-toggle="modal" data-bs-target="#modalPutLavadora" (click)="lavadoraSeleccionada.emit(lavadora)">
      &nbsp;&nbsp;<fa-icon [icon]="cambio"></fa-icon>&nbsp;
    </a>
  </div>
  </div>
</section>
<ng-template #noExiste>
  <div>
    No hay lavadoras
  </div>
</ng-template>
