#datosAlmacen{
  margin-top:2%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;
  color: black;
  font-weight: bolder;
  font-style: normal;

}

.btn{color: rgb(245, 243, 243);
background-color: rgb(13, 4, 94);}

#datosAlmacen:hover{
  background-color: red;
}
