<div class="row mb-2">
  <hr class='w-100'>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    {{producto.marca}}, {{producto.modelo}}, {{producto.calificacionEnergetica}}, {{producto.capacidadCarga}} kg
    , {{producto.numeroPulgadas}} ", {{producto.precio}} €
  </div>

  <div class="col-sm-4">
    <a class="" data-bs-toggle="modal" data-bs-target="#modalProducto" (click)="productoSeleccionado.emit(producto)">
      &nbsp;<fa-icon [icon]="eye"></fa-icon>&nbsp;
    </a>

    <!-- <a class="" data-bs-toggle="modal" data-bs-target="#modalModificar" (click)="productoSeleccionado.emit(producto)">
      &nbsp;<fa-icon [icon]="modificar"></fa-icon>&nbsp;
    </a> -->

    <a class="" data-bs-toggle="modal" data-bs-target="#modalPut" (click)="productoSeleccionado.emit(producto)">
      &nbsp;&nbsp;<fa-icon [icon]="cambio"></fa-icon>&nbsp;
    </a>
    <a role="button" (click)="borrarProducto(this.producto.urlProducto)"
    routerLink="/productos/productos">
      &nbsp;&nbsp;
      <fa-icon [icon]="trash"></fa-icon>
      &nbsp;
    </a>
  </div>
  <div class="col-sm-2"></div>
</div>
